body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

input {
  padding: 6px;
  margin: 5px 10px;
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}
button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
